.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(187, 209, 211);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.App h1 {
  font-size: 50px;
  color: #3c3c3b;
}
