
.Search {
  margin-bottom: 20px;
}
.Search h2 {
    font-size: 30px;
    font-weight: normal;
    color: #3c3c3b;
  }
  
  .Search input {
    padding: 10px;
  }
  
  .Search li {
    text-align: left;
    color: #3c3c3b
  }
  