.WeatherTemperature {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.WeatherTemperature .unit {
    font-size: 16px;
    margin: 8px 5px
}