.Weather {
    font-family: Nunito sans, sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto 10px auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    color: #3c3c3b;
      
}

.Weather h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Weather .search {
    margin-bottom: 20px;
}

.Weather .search h2 {
    font-size: 30px;
    font-weight: normal;
    color: #3c3c3b;
}
    
.Weather .search input {
    padding: 10px;
}
    
.Weather .search li {
    text-align: left;
    color: #3c3c3b
}